
//
// Theme Sass variables
//
// @see http://getbootstrap.com/docs/4.1/getting-started/theming/ for more details.
//

// Example how update variables of Bootstrap.
$body-bg: #f3f3f4;
$body-color: #676a6c;
$primary: #1ab394;
$primary-focus: #18a689;
$primary-invert: #FFF;